/* ==================== Basic Setup ==================== */
* {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    
    color: hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 92.5%);
    
    min-height: 100%;
    
    margin: 0;
    padding: 0;
}

.light {
    color: hsl(0, 0%, 65%);
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    
    margin-top: 24px;
    margin-left: 12px;
    
    text-align: left;
}

h3 {
    font-size: 125%;
    
    text-align: center;
}

h3 > small {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

a.disabled {
    pointer-events: none;
    color: hsl(0, 0%, 65%);
}

a[target='_blank']:not(.arrow-link) {
    display: inline-block;
    padding-right: 12px;
}

a[target='_blank']:not(.arrow-link):after {
    content: '';
    background-image: url(../images/arrow_small_up_right.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    display: inline-block;
    height: 12px;
    width: 12px;
    
    /* Combined with `display: inline-block` on the anchor, prevents line breaks
       between the text and the icon. */
    position: relative;
    left: 12px;
    margin-left: -12px;
}

a.arrow-link {
    margin: 6px 0;
}

a.arrow-link:before {
    content: '';
    background-image: url(../images/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
    height: 16px;
    width: 22px;
    
    vertical-align: -15%;
}

a.arrow-link.disabled:before {
    background-image: url(../images/arrow_right_grey.svg);
}

a.arrow-link.arrow-link-coming-soon:before {
    background-image: url(../images/clock_grey.svg);
}

a.arrow-link.arrow-link-github:before {
    background-image: url(../images/github.png);
    vertical-align: -12%;
}

ul > li {
    padding-bottom: 8px;
}

ul > li:last-of-type {
    padding-bottom: initial;
}

ul.tight {
    padding-left: 22px;
}

.pin-bottom {
    position: absolute;
    bottom: 0;
}

.inprogress:before, .inprogress:after {
    content: '';
    display: inline-block;
    width: 6px;
    background-color: #fde742;
}
.inprogress {
    background-color: #fde742;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}


/* ==================== Utility Classes ==================== */
.hidden {
    visibility: hidden !important;
}

.nodisplay {
    display: none !important;
}

.clear-float {
    clear: both;
    margin: 0;
    padding: 0;
}


/* ==================== Container ==================== */
@-webkit-keyframes kf-bounce-up {
    0%   { opacity: 0; top: 40px; }
    50%  { opacity: 1;            }
    75%  {             top: -4px; }
    100% {             top: 0px;  } 
}

@keyframes kf-bounce-up {
    0%   { opacity: 0; top: 40px; }
    50%  { opacity: 1;            }
    65%  {             top: -4px; }
    100% {             top: 0px;  } 
}

#container {
    position: relative;
    width: 100%;
    max-width: 900px;
    
    margin: auto;
    padding: 30px;
    
    text-align: center;
    
    -webkit-animation: kf-bounce-up 0.5s ease 0s;
    animation: kf-bounce-up 0.5s ease 0s;
}

#container > p {
    margin-left: 12px;
    
    text-align: left;
}

@media screen and (max-width: 375px) {
    #container {
        padding: 10px;
    }
}

#section-dancing-animals {
    padding-top: 500px;
}

#section-dancing-animals > img {
    margin: 5px;
    width: 50px;
}


/* ==================== Base Card ==================== */
.card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    
    width: 350px;
    max-width: 100%;
    max-width: calc(100% - 24px); /* 100% - 2 * padding */
    
    min-height: 350px;
    
    margin: 12px;
    padding: 16px;
    
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    
    text-align: center;
}

.card > * {
    margin: 16px;
}

.card > .content > * {
    margin: 16px;
}

.card > .image {
    width: 125px;
}

.card > .image-round {
    width: 150px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 75%);
}

.card > .course {
    position: relative;
    color: hsl(0, 0%, 15%);
    
    font-size: 300%;
}

.card > .course:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
    border-bottom: 1px solid hsl(0, 0%, 75%);
}

.card > .content {
    text-align: left;
}

.card > .content > .links > * {
    padding-left: 12px;
    padding-right: 12px;
    border-right: 1px solid hsl(0, 0%, 75%);
}

.card > .content > .links > :first-child {
    padding-left: 0;
}

.card > .content > .links > :last-child {
    padding-right: 0;
    border-right: none;
}

.card > .content > .arrow-links {
    position: absolute;
    bottom: 0;
}

.card > .content > .arrow-links > a {
    display: block;
}

/* Since .arrow-links is positioned absolutely, use spacers to avoid crashing into other content */
.card > .content > .arrow-links-spacer-1-link {
    margin: 0;
    padding: 0;
    height: 14px;
}

.card > .content > .arrow-links-spacer-2-links {
    margin: 0;
    padding: 0;
    height: 40px;
}


/* ==================== Fixed Cards ==================== */
.card-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(calc(-50% - 12px), calc(-50% - 12px));
    
    text-align: center;
}


/* ==================== Hero Cards ==================== */
.card-hero {
    display: block;
    width: 100%;
    min-height: 0;
    
    margin-bottom: 48px;
    
    text-align: center;
}

.card-hero > .content {
    text-align: center;
}

@media screen and (max-width: 599px) {
    .card {
        padding: 16px 0px;
    }
    
    .card > * {
        margin: 12px;
    }
}

@media screen and (min-width: 600px) {
    .card-hero {
        padding-left: 220px;
    }
    
    .card-hero > .image-round {
        display: block;
        position: relative;
        float: left;
        width: 150px;
        margin-left: -174px;
    }
    
    .card-hero > .content {
        display: block;
        position: relative;
        float: left;
        padding-left: 0px;
        text-align: left;
        width: 95%;
    }
    
    .card-hero > .content > :first-child {
        margin-top: 0;
    }
    
    .card-hero > .content > :last-child {
        margin-bottom: 0;
    }
}


/* ==================== Small Cards ==================== */
.card-small {
    width: 252px;
    width: calc(33% - 26px);
    padding: 16px 8px;
    
    min-height: 252px;
}

@media screen and (min-width: 599px) {
    .card-small {
        padding: 8px 0;
    }
}

@media screen and (max-width: 899px) {
    .card-small {
        width: 380px;
        width: calc(50% - 26px);
    }
}

@media screen and (max-width: 599px) {
    .card-small {
        width: 100%;
    }
}

.card-small > * {
    margin: 12px;
}

.card-small > .image {
    margin-bottom: 0;
}

.card-small > .image-round {
    margin-bottom: 0;
    width: 100px;
}

.card-small > .content > * {
    margin: 12px;
}


/* ==================== Coming Soon Cards ==================== */
.card-coming-soon {
    border: 4px dashed hsl(0, 0%, 75%);
    border-radius: 4px;
    box-shadow: none;
    background-color: inherit;
}

.card-coming-soon h3, .card-coming-soon p {
    opacity: 0.65;
}

.card-coming-soon img {
    opacity: 0.5;
}


/* ==================== Card Sections ==================== *
 * Used to control the height of the cards in each section
 * (i.e., to make them all equally tall).
 * Only applied for the large screen size.
 */
@media screen and (min-width: 600px) {
    #cards-section-places .card {
        min-height: 430px;
    }
    
    #cards-section-classes .card {
        min-height: 300px;
    }
    
    #cards-section-things .card {
        min-height: 315px;
    }
}